*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:consolas;
}

body{
  background-color: #eee; 
}

header{
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
}



header nav{

  background-color: black;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top:20px ;
  padding-bottom:20px ;
  
}

header nav h1 a {
  font-size: 40px;
  font-weight: 600;
  color: white;
}



header nav .tabs{
  list-style-type: none;
  display:flex;
  justify-content: flex-end;
}

header nav .tabs .tab {
  display: block;
}

header nav .tabs .tab a[data-switcher]{
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  color:#fff;
  background-color: ;
  cursor:pointer;
}

header nav .tabs .tab:hover a[data-switcher]{
  background-color: #f58300 ;
    border-radius: 8px;

}

header nav .tabs .tab.is-active a[data-switcher]{
  background-color: #F7A800 ;
  font-weight: 700;
    border-radius: 8px;

}

main{
  padding-left: 200px;
  padding-right: 200px;
  
  
}

.pages{
  
  margin-top: 100px;
  padding: 50px 30px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
  
}

.pages .page {
  display:none;
}

.pages .page.is-active{
  display:block
}

.footer {
  

  left: 0;
  bottom: 0;
  padding:20px;
  width: 100%;
  background-color: black;
  text-align: center;
}

.footer a{
  color: white;
  font-style:none;
}
a:link { text-decoration: none; }


h2 {
  padding-bottom: 20px;
    padding-top: 20px;
}

.logoNavbar{
  width:200px;
  height:auto;
  margin:10px;
}

.logoPageFour{
  width:500px;
  height:auto;
 
}

.logoPageFourPlan{
  width:1000px;
  height:auto;
 
}



.myClass {
display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 60px;
}

.popImg{
    width:auto;
  height: 100px;
}


.mailAuthor {
  margin:10px;
}

.pageTitle {
  font-size: 70px;
  padding-bottom: 20px;
  

}



.ligne{
    flex-direction: row; /*Axe principal = axe horizontal*/
}

.element-flexible{
    flex-basis: 25%;
    width: 25%;
    height: 25%;
  border-radius: 8px;
  background-color: #fff;
    padding: 10px 0px;
    text-align: center;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
    box-sizing: border-box;
    margin: 5px;
}

.conteneur-flexible{
    display: block;
  justify-content: space-around;
    font-size: 20px;
    margin: 20px 0px;
  padding: 50px 30px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
  
}

/*début animation*/

section2{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section2:nth-child(1){
  color:  #fff0d1;
  
  }
section2:nth-child(2){
  color: #42455a;
  background:  #fff0d1;
  border-radius: 8px;
} 
section2:nth-child(3){
  color: #42455a;
}
section2:nth-child(4){
  color: #42455a;
  background: #fff0d1;
  border-radius: 8px;
}

section2:nth-child(6){
  color: #42455a;
  background: #fff0d1;
  border-radius: 8px;
}

section2 .container{
  margin: 100px;
}

section2 p{
   font-size: 30px;
  margin: 10px;
}

section2 ul{
   font-size: 30px;
  margin-left: 30px;
}

section2 h1{
  margin: 20px;
    font-size: 60px;
  font-weight: 600;
  color: black;
}
section2 h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section2 .text-container{
   display: flex;
}
section2 .text-container .text-box{
  margin: 20px;
  padding: 100px;
  background: #F7A800;
    border-radius: 8px;

}

section2 .text-container .text-box2{
  margin: 20px;
  padding: 100px;
  background: #f58300;
    border-radius: 8px;

}

section2 .text-container .text-box3{
  margin: 20px;
  padding: 100px;
  background: #fff;
    border-radius: 8px;

}

section2 .text-container .text-boxPink{
  margin: 20px;
  padding: 100px;
  background: #ffe5f8;
    border-radius: 8px;

}

section2 .text-container .text-boxBlue{
  margin: 20px;
  padding: 100px;
  background: #aef4e3;
    border-radius: 8px;

}

section2 .text-container .text-boxSkyBlue{
  margin: 20px;
  padding: 100px;
  background: #aeecf4;
    border-radius: 8px;

}

section2 .text-container .text-boxPurple{
  margin: 20px;
  padding: 100px;
  background: #c1aef4;
    border-radius: 8px;

}

section2 .text-container .text-boxRed{
  margin: 20px;
  padding: 100px;
  background: #f4aeae;
    border-radius: 8px;

}

section2 .text-container .text-boxBlack{
  margin: 20px;
  padding: 100px;
  background: #000000;
    border-radius: 8px;

}

section2 .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
  section2 h1{
    font-size: 2rem;
    text-align: center;
  }
  section2 .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/*fin animation*/

#arrowDown {
  color: white;
  font-size: 70px;
  
}

  /*
circleRotation
  */


body {
    height: 3000px;
}

.wrapper {
  /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  */
  margin-left: 20px;
    margin-top: 20px;
    position: fixed;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#reload {
    width: 100px;
    height: auto;
}

  /*
circleRotationFin
  */

.wrapper2 {
  /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  */
  margin-left: 20px;
    margin-top: 100px;
    position: fixed;
}

.circle2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(255, 115, 0);
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
